<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">プロフィール画像登録</h1>
       <%= form_with(model: @profimage, url: profimage_path, method: :post, local: true, multipart: true) do |form| %>
        <div class="field">
          <%= form.label :image, 'プロフィール画像' %>
          <%= form.file_field :image %>
        </div>
      <div class="actions">
          <%= form.submit 'アップロード' %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>